@import '../../node_modules/bootstrap/scss/bootstrap';

$navbar-height: 56px;

.site-header {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.site-content {
  padding-top: $navbar-height;
}

.product-card {
  width: 100%;
}

.cart-indicator {
  font-size: .6rem;
}
